@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

 body{
  background-color: honeydew;
} 

:root {
  --header-height: 3rem;
  --font-semi: 600;
}


:root {
  --first-color: #4070f4;
  --second-color: #0e2431;
  --gardient-color: linear-gradient(to right, #5001fb, #8e0af3);
}

:root {
  --body-font: "Poppins", sans-serif;
  --big-font-size: 2rem;
  --h2-font-size: 1.5rem;
  --nomral-font-size: 0.938rem;
}

@media screen and (min-width: 768px) {
  :root {
    --big-font-size: 3.5rem;
    --h2-font-size: 2rem;
    --nomral-font-size: 1rem;
  }
}

:root {
  --mb-1: 0.5rem;
  --mb-2: 1rem;
  --mb-3: 1.5rem;
  --mb-4: 2rem;
  --mb-5: 2.5rem;
  --mb-6: 3rem;
}


:root {
  --z-back: -10;
  --z-normal: 1;
  --z-tooltip: 10;
  --z-fixed: 100;
}


*,
::before,
::before {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: var(--header-height) 0 0 0;
  font-family: var(--body-font);
  font-size: var(--nomral-font-size);
  color: var(--second-color);
}

h1,
h2,
p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}


img {
  max-width: 100%;
  height: auto;
  display: block;
}


.bd_grid {
  max-width: 1024px;
  display: grid;
  grid-template-columns: 100%;
  grid-column-gap: 2rem;
  width: calc(100% - 2rem);
  margin-left: var(--mb-2);
  margin-right: var(--mb-2);
}

.header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: var(--z-fixed);
  background: #fff;
  box-shadow: 0 1px 4px rgba(146, 161, 176, 0.15);
}


.nav {
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: var(--font-semi);
}

@media screen and (max-width: 768px) {
  .nav_menu {
    position: fixed;
    top: var(--header-height);
    right: -100%;
    width: 80%;
    height: 100%;
    padding: 2rem;
    background-color: var(--second-color);
    transition: 0.5s;
  }
}

.nav_items {
  margin-bottom: var(--mb-4);
}

.nav_link {
  position: relative;
  color: #fff;
}

.nav_link:hover {
  position: relative;
}

.nav_link:hover::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 0.18rem;
  left: 0;
  top: 2rem;
  background-color: var(--first-color);
}

.nav_logo {
  color: var(--second-color);
}

.nav_toggle {
  color: var(--second-color);
  font-size: 1.5rem;
  cursor: pointer;
}


.active::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 0.18rem;
    left: 0;
    top: 2rem;
    background-color: var(--first-color);
  }
  
  .show {
    right: 0;
  }
  
  .home {
    height: calc(100vh - 3rem);
    row-gap: 1rem;
  }
  


  .home_data {
    align-self: center;
  }

  .home_title {
    font-size: var(--big-font-size);
    margin-bottom: var(--mb-5);
  }
  
  .home_title-color {
    color: var(--first-color);
  }
  
  .home_social {
    display: flex;
    flex-direction: column;
  }
  
  .home_social-icon {
    width: max-content;
    margin-bottom: var(--mb-2);
    font-size: 1.5rem;
    color: var(--second-color);
  }
  
  .home_social-icon:hover {
    color: var(--first-color);
  }
  
  .home_img {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 300px;

  }
  
  .home_img svg {
    width: 100%;
  }
  
  /* BUTTONS */
  .button {
    display: inline-block;
    color: #fff;
    padding: 0.75rem 2.5rem;
    font-weight: var(--font-semi);
    border-radius: 0.5rem;
    background: var(--gardient-color);
  }
  
  .button:hover {
    box-shadow: 0 10px 36px rgba(0, 0, 0, 0.15);
  }
  
  .section {
    padding-top: 3rem;
    padding-bottom: 2rem;
  }
  
  .section-title {
    position: relative;
    font-size: var(--h2-font-size);
    color: var(--first-color);
    margin-top: var(--mb-2);
    margin-bottom: var(--mb-4);
    text-align: center;
  }
  
  .section-title::after {
    position: absolute;
    content: "";
    width: 64px;
    height: 0.18rem;
    left: 0;
    right: 0;
    margin: auto;
    top: 2rem;
    background-color: var(--first-color);
  }
  
  /* ABOUT SECTION */
  
  .about_container {
    row-gap: 2rem;
    text-align: center;
  }
  
  .about_subtitle {
    margin-bottom: var(--mb-2);
  }
  
  .about_img {
    justify-content: center;
  }
  
  .about_img svg {
    width: 300px;
    border-radius: 0.5rem;
  }
  
  /* SKILLS */
  .skills_container {
    row-gap: 2rem;
    text-align: center;
  }
  
  .skills_subtitle {
    margin-bottom: var(--mb-2);
  }
  
  .skills_text {
    margin-bottom: var(--mb-4);
  }
  
  .skills_data {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    font-weight: var(--font-semi);
    padding: 0.5rem 1rem;
    margin-bottom: var(--mb-4);
    border-radius: 0.5rem;
    box-shadow: 0 4px 25px rgba(14, 36, 49, 0.15);
  }
  
  .skill_icon {
    font-size: 2rem;
    margin-right: var(--mb-2);
    color: var(--first-color);
  }
  
  .skills_name {
    display: flex;
    align-items: center;
  }
  
  .skill_bar {
    position: absolute;
    left: 0;
    bottom: 0;
    background-color: var(--first-color);
    height: 0.25rem;
    border-radius: 0.5rem;
    z-index: var(--z-back);
  }
  
  .skill_html {
    width: 95%;
  }
  
  .skill_css {
    width: 85%;
  }
  
  .skill_js {
    width: 70%;
  }
  
  .skill_react {
    width: 70%;
  }
  .skill_redux{
    width: 65%;
  }
  .skill_node{
    width: 60%;
  }
  .skill_express{
    width: 60%;
  }

  .about_buttons{
    display: flex;
    justify-content: center;
  }
  
  /* Qualification */

.qualification_tabs{
  display: flex;
  justify-content: space-evenly;
  margin-bottom: (--mb-2);
}
.qualification_button{
  font-size: var(--h3-font-size);
  font-weight: var(--font-medium);
  cursor: pointer;
}
.qualification_button:hover{
  color: var(--first-color);
}
.qualification_icon{
  font-size: 1.8rem;
  margin-right: var(--mb-0-25);
}
.qualification_data{
  display: grid;
  grid-template-columns: 1fr max-content 1fr;
  column-gap: 1.5rem;
}
.ugdegree{
  padding-left: 69%;
}


.qualification_title{
  font-size: var(--normal-font-size);
  font-weight: var(--font-medium);
}
.qualification_subtitle{
  display: inline-block;
  font-size: var(--small-font-size);
  margin-bottom: var(--mb-1);
}
.qualification_calender{
  font-size: var(--smaller-font-size);
  color: var(--text-color-light);
}
.qualification_rounder{
  display: inline-block;
  width: 13px;
  height: 13px;
  background-color: var(--first-color);
  border-radius: 50%;
}
.qualification_line{
  display: block;
  width: 1px;
  height: 100%;
  background-color: var(--first-color);
  transform: translate(6px, -7px);
}
.qualification [data-content]{
  display: none;
}
.qualification_active [data-content] {
  display: block;
}
  /* WORK */

  .portfolio_container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2.5rem;
  }
  
  .portfolio_item{
    background: var(--color-bg-variant);
    padding: 1.2rem;
    border-radius: 2rem;
    border: 1px solid transparent;
    transition: var(--transition);
  }

  .portfolio_item:hover{
    border-color: var(--color-primary-variant);
    background: transparent;
  }

  .portfolio_item-image{
    border-radius: 1.5rem;
    overflow: hidden;
  }

  .portfolio_item h3 {
    margin: 1.2rem 0 2rem;
  }

  .portfolio_item-cta{
    display: flex;
    gap: 1rem;
    margin-bottom: 1rem;
  }

  /* Contact */
  
  .control_input {
    width: 100%;
    font-size: var(--nomral-font-size);
    font-weight: var(--font-semi);
    padding: 1rem;
    border-radius: 0.5rem;
    border: 1.5px solid var(--second-color);
    outline: none;
    margin-bottom: var(--mb-4);
  }
  
  .control_button {
    display: block;
    border: none;
    outline: none;
    font-size: var(--nomral-font-size);
    cursor: pointer;
    margin-left: auto;
  }
  
  /* Footer */
  .footer {
    background-color: var(--second-color);
    color: #fff;
    text-align: center;
    font-weight: var(--font-semi);
    padding: 2rem 0;
  }
  
  .footer_title {
    font-size: 2rem;
    margin-bottom: var(--mb-4);
  }
  
  .footer_socials {
    margin-bottom: var(--mb-4);
    
  }
  


  .footer_icon {
    font-size: 1.5rem;
    color: #fff;
    margin: 0 var(--mb-2);
    transition: all .45s ease;
    height: 45px;
    width: 45px;
	  background: var(--main-color);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    margin-right: 15px;
	
  }

  .footer_icon :hover{
    transform: translateX(5px);
  } 

  
  @media screen and (min-width: 768px) {
    body {
      margin: 0;
    }
  
    .section {
      padding-top: 4rem;
      padding-bottom: 3rem;
    }
    .section-title {
      margin-bottom: var(--mb-6);
    }
  
    .section-title::after {
      width: 80px;
      top: 3rem;
    }
  
    .nav {
      height: calc(var(--header-height) + 1rem);
    }
  
    .nav_items {
      margin-left: var(--mb-6);
      margin-bottom: 0;
    }
  
    .nav_list {
      display: flex;
      padding-top: 0;
    }
  
    .nav_toggle {
      display: none;
    }
  
    .nav_link {
      color: var(--second-color);
    }
  
    .home {
      height: 100vh;
    }
  
    .home_data {
      align-self: flex-end;
    }
    .home_social {
      padding-top: 0;
      padding-bottom: 2.5rem;
      flex-direction: row;
      align-self: flex-end;
    }
  
    .home_social-icon {
      margin-bottom: 0;
      margin-right: var(--mb-4);
    }
  
    .home_img {
      width: 460px;
      bottom: 15%;
    }
  
    .home_img svg {
      width: 100%;
    }
  
    .about_container,
    .skills_container {
      grid-template-columns: repeat(2, 1fr);
      align-items: center;
      text-align: initial;
    }
  
    .about_img svg {
      width: 450px;
    }
  
    .work_container {
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: repeat(2, 1fr);
      column-gap: 2rem;
    }
  
    .contact_form {
      width: 400px;
    }
    .contact_container {
      justify-items: center;
    }
  }
  
  @media screen and (min-width: 1024px) {
    .bd_grid {
      margin-left: auto;
      margin-right: auto;
    }
  
    .home_img {
      right: 10%;
    }
  }

  .portfolio .box-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding:2rem 0;
}

.portfolio .box-container .box{
    height: 20rem;
    width:26rem;
    border-radius: 1rem;
    margin:2rem;
    overflow: hidden;
    cursor: pointer;
}

.portfolio .box-container .box img{
    height:100%;
    width:100%;
    object-fit: cover;
}

.portfolio .box-container .box:hover img{
    transform: scale(1.2);
}

.card-title{
  display: flex;
}

 .profile-pic{
  height: 300px;
  width: 300px;
  position:relative; 
  /* border-radius: 50%; */
  object-fit: cover;
  margin-bottom: 140px;
  left: 160pt;
  clip-path: circle();
}

.profile-pic img{
  width: 100%;
} 

.list_itemss{
  color: white;
}
